/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

html, body
    color: #fff

.animated
    -webkit-transition: all 250ms
    -moz-transition: all 250ms
    -ms-transition: all 250ms
    -o-transition: all 250ms
    transition: all 250ms

audio
    display: none

p.clap-counter
    width: 100%
    top: 10%
    right: 10%
    position: fixed
    text-align: right
    height: 20%
    font-size: 60px
    font-family: "Proxima Nova"
    font-weight: 800
    z-index: 99
    color: #fff

.hand
    position: fixed
    top: -50px
    left: -50px
    display: block
    height: 50px
    width: 50px
    background: red
    z-index: 99

.overlay
    background: #000
    height: 100%
    width: 100%
    position: fixed
    top: 0
    left: 0
    color: #fff
    a.clap
        @extend .animated
        font-family: "Proxima Nova"
        font-weight: 800
        font-size: 200px
        display: block
        text-transform: uppercase
        padding: 20% 0 0
        height: 20%
        margin: 0 auto
        width: 100%
        text-align: center
        opacity: 0
        -webkit-transform: translate3d(0, -10px, -10px) // Force 3d
        &.on
            margin-top: 0
            opacity: 1
            -webkit-transform: translate3d(0, 0, 0) // Force 3d
    p.deck
        font-family: "Proxima Nova"
        font-weight: 800
        font-size: 20px
        text-align: center
        
